<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest">
    <test name="MainTest" parallel="false">
        <classes>
            <class name="org.example.ReqresPojoTest">
                <methods>
                    <include name="checkId"/>
                    <include name="checkAvatars"/>
                    <include name="checkAvatarContainId"/>
                    <include name="successRegistration"/>
                    <include name="unSuccessRegistration"/>
                    <include name="deleteUser"/>
                </methods>
            </class>
            <class name="org.example.ReqrestNoPojoTest">
                <methods>
                    <include name="checkAvatarsContainsIdNoPojo"/>
                    <include name="checkEmailsContainsDogsNoPojo"/>
                    <include name="successRegNoPojoNoResponse"/>
                    <include name="successRegNoPojoNo"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
